<style>
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat');
    body {
        position: relative;
    }
    body:before,
    body:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        background-attachment: fixed;
        background-size: auto;
        background-repeat: no-repeat;
        width: 50%;
        background-image: url(https://img1.dnsloja.com/arquivos_loja/14881/arquivo/layer-34.png);
    }
    body:before {
        z-index: -1;
        left: 0;
        background-position: left top;
    }
    form[action="consulta_avancada.php"] table td {
        padding: 15px;
    }
    body:after {
        z-index: -2;
        background-position: right top;
        right: 0;
    }
    #id_tabela_central {
        background-color: #fff;
        margin-top: 0;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .Montserrat {
        font-family: 'Montserrat', sans-serif!important;
    }
    .JosefinSans {
        font-family: 'Josefin Sans', sans-serif!important;
    }
    #infos-one {
        background-color: #0067a1;
        min-height: 30px;
    }
    #infos-one a {
        color: #fff;
        padding: 5px;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif!important;
    }
    .menuShapes {
        margin-right: 0;
    }
    .menuShapes li:before {
        content: url('arquivos_loja/14881/arquivo/shape-4.png');
        margin-left: 10px;
    }
    .menuShapes li a,
    .menuShapes li:before {
        display: inline-block;
        vertical-align: middle;
    }
    #menuPrincipal {
        background-color: #fff;
    }
    .menuNMB {
        background-color: #f2f2ee;
    }
    #carrinhoBuscaBox * {
        font-family: 'Josefin Sans', sans-serif!important;
    }
    #carrinhoBuscaBox {
        background-color: #f2f2ee;
        border-radius: 12px;
        float: right;
        width: 55%;
        padding: 10px 20px;
        margin: 20px 0;
    }
    #carrinhoBuscaBox li.search {
        width: 100%!important;
        margin-bottom: 10px;
    }
    #logo_loja {
        max-width: 100%;
        max-height: 100%;
    }
    img#actionPesquisaTopo {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    .televenda_whatsapp {
        color: #003366;
    }
    #carrinhoBuscaBox > ul.nav {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    #carrinhoBuscaBox > ul.nav:last-child {
        width: 60%;
    }
    #carrinhoBuscaBox > ul.nav:first-child {
        width: 34.5%;
        margin-left: 5.5%;
    }
    .navbar-telefones li:nth-child(2) a {
        font-size: 18px;
    }
    .navbar-telefones li:not(.search):not(:nth-child(2)) {
        margin-left: 6px!important;
    }

    .navbar-telefones li a {
        padding: 3px 5px!important;
    }
    .navbar-telefones li:not(:last-child) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 6px;
    }
    .navbar-telefones li:last-child {
        padding-right: 0!important;
    }
    .img_whats {
        width: initial;
        height: initial;
        vertical-align: middle;
    }
    #carrinhoBuscaBox .navbar-telefones img {
        width: 36px;
    }
    #carrinhoBuscaBox #carrinhoUl li {
        display: inline-block;
    }
    #carrinhoBuscaBox #carrinhoUl li:not(:first-child) {
        margin-top: 7px!important;
    }
    #carrinhoBuscaBox #carrinhoUl li:first-child {
        margin-right: 4px;
    }
    #carrinhoBuscaBox #carrinhoUl li a {
        padding: 0;
        text-align: center;
        text-align: center;
    }
    #carrinhoBuscaBox #carrinhoUl li * {
        font-size: 16px;
        color: #d51010;
    }
    .irAoCarrinho > div {
        background: #d51010;
        border-radius: 12px;
        padding: 6px 4px;
        color: #fff!important;
    }
    .qntde_cart {
        text-align: center;
        margin: 5px 0;
    }
    .menuNMB ul {
        margin-top: 10px;
    }
    .menuNMB ul li {
        display: inline;
    }
    .menuNMB ul li:not(:last-child) {
        border-right: solid 2px #003366;
    }
    .menuNMB ul li a {
        color: #013f62;
        font-size: 16px;
        padding: 0 10px;
        font-family: 'Josefin Sans', sans-serif!important;
    }
    #avisosTopo {
        background-color: #bf1e2e;
    }
    #avisosTopo ul {
        display: table;
        width: 100%;
    }
    #avisosTopo ul li {
        display: table-cell;
    }
    .fundoImgAvisos {
        margin-right: 10px;
    }
    #avisosTopo * {
        font-family: 'Montserrat', sans-serif!important;
    }
    #avisosTopo .inlineBlock {
        display: inline-block!important;
        vertical-align: middle;
    }
    #avisosTopo ul li h3 {
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #avisosTopo ul li h4 {
        color: #ffff00;
        margin: 4px 0;
    }
    .letter16px {
        font-size: 16px!important;
    }
    .yellowLetter {
        color: #ffff00!important;
    }
    #bannerPsd img,
    #formasDepagamentoFooter img,
    #posFooter img {
        max-width: 100%;
        width: 100%!important;
    }
    .produto_unico {
        margin-top: 0!important;
    }
    #id_banner_Central {
        margin: 7px 0!important;
    }
    .panel-heading {
        background-image: url('arquivos_loja/14881/arquivo/rounded-rectangle-6.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 40px;
        border: none;
        background-color: transparent!important;
        font-size: 18px;
        font-weight: bold;
        line-height: 16px;
        padding-left: 5px;
        text-align: left;
    }
    #id_div_direita .panel-heading {
        padding-top: 4px;
        padding-bottom: 0;
    }
    .panel-default>.panel-heading:before {
        position: relative;
        top: -10px;
        left: -5px;
        float: left;
        content: '';
        background-image: url('arquivos_loja/14881/arquivo/casinha.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;

    }
    #id_div_esquerda .panel.panel-default,
    #id_div_direita .panel.panel-default {
        border-right: none;
        border-top: none;
        border-bottom: none;
        box-shadow: none;
        background-color: #f9f9f9;
    }
    #id_div_esquerda .panel.panel-default .collapse .nav.nav-list a,
    .login-panel,
    .caixa_login {
        background-color: #e6e6fa!important;
    }
    .login-panel .caixaTexto {
        background-color: transparent!important;
    }
    #id_div_esquerda .panel:last-child {
        display: none!important;
    }
    #bgAzulEscritosPreFooter {
        background-color: #165383;
        padding: 20px 0;
        text-align: center;
    }
    #bgAzulEscritosPreFooter p {
        font-size: 18px;
        color: #fff;
        margin: 0;
    }
    .desenvolvido_por {
        background-color: #1a69af;
    }
    footer {
        background-color: #fff;
    }
    .meio_info_end {
        color: #0064b2;
        margin-bottom: 0;
        height: 125px;
        text-align: center;
    }
    footer div[class^='col-'] {
        padding-top: 0;
        padding-bottom: 0;
    }
    #contentDireitaCol .panelBody,
    #contentDireitaCol .panel {
        float: left;
        width: 100%;
        text-align: center;
        background-color: #fff!important;
        border: none;
    }
    #fotoFooterFachada img {
        max-width: 100%;
    }
    .eng-login-cadastro .caixaTexto.content-white.panel.panel-default {
        width: 80%;
        border: none;
    }
    #contentDireitaCol .panel-default>.panel-heading:before {
        width: 24px;
        height: 24px;
        top: -4px;
    }
    @media only screen and (max-width: 768px) {
        #carrinhoBuscaBox,
        #carrinhoBuscaBox > ul.nav:first-child,
        #carrinhoBuscaBox > ul.nav:last-child {
            width: 100%;
            margin: 0;
        }
        .search input {
            opacity: 1;
        }
        #avisosTopo ul li {
            display: block;
        }
        .navbar-brand {
            float: left;
            width: 75%;
        }
        .menuShapes {
            float: none!important;
            width: 100%;
        }
        .menuShapes li {
            display: initial;
            float: none!important;
        }
        .navBarEsquerdoTopoAzul li {
            width: 100%;
        }
        .dropdown-header {
            color: #fff;
        }
        .navbar-inverse .navbar-nav>li>a>span {
            top: 0;
        }
        #infos-one .navbar-nav>li {
            float: left!important;
        }
        #contentDireitaCol .panel-default>.panel-heading:before {
            width: 30px;
            height: 30px;
            top: -10px;
        }
        #id_div_direita .panel-heading {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
</style>
<!------------- INICIO TOPO -------------->      
[html_script_topo]
<nav id="infos-one" class="navbar navbar-inverse navbar-static-top">
	<div class="container">
    <div id="navbar" class="navbar-collapse">
      <!-- Lado Direito -->
      <ul class="nav navbar-nav navBarEsquerdoTopoAzul">
          <li class="login_ativo dropdown visible-xs">
                <a href="javascript:void(0)" id="sua-conta" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Sua Conta</span><i class="material-icons">keyboard_arrow_down</i></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">[cliente]</li>
                    <li><a href="novo_cliente.php?editar=true">Editar Cadastro</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="index.php?logoff=1">Sair</a></li>
                </ul>
            </li>
            <li><a href="login.php">Acesse sua área especial!</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right menuShapes">
        <li><a href="novo_cliente.php" target="_self">Meu Cadastro</a></li>
        <li><a href="index.php" target="_self">Página Inicial</a></li>
        <li class="login_inativo"><a href="login.php" target="_self">Fazer Login</a></li>
        <li><a href="indique.php" target="_self">Indique o Site</a></li>
        <li><a href="carrinho.php" target="_self">Finalizar Compra</a></li>
        <li><a href="contato.php" target="_self">Fale Conosco</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<nav id="menuPrincipal" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2">
        <span class="sr-only">Menu Principal</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="javascript:void(0)" class="navbar-toggle visible-sm collapsed" data-toggle="collapse" data-target="#navbar3" aria-expanded="false" aria-controls="navbar3">
        <span>Departamentos</span>
      </a>
      <a href="javascript:void(0)" class="navbar-toggle visible-sm collapsed" data-toggle="collapse" data-target="#navbar4" aria-expanded="false" aria-controls="navbar4">
        <span>Informações</span>
      </a>
      <div class="navbar-brand">[logo]</div>
    </div>
    <div id="navbar2" class="navbar-collapse collapse">
      <!-- Lado Esquerdo -->
      <div id="carrinhoBuscaBox">
        <ul id="carrinhoUl" class="nav navbar-nav navbar-right">
            <li><a href="carrinho.php" target="_self"><img class="pull-left" src="arquivos_loja/14881/arquivo/carrinho.png"></a></li>
            <li>
                <a href="cliente_informacoes.php" target="_self">Minhas Compras</a>
                <a href="carrinho.php" target="_self">
                    <div class="qntde_cart">[qtde_de_itens_no_carrinho] <span id="pulCarrinhoTop">Itens</span></div>
                    <div class="irAoCarrinho">
                        <div>Ir ao Carrinho</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-telefones">
            <li class="search">
                <form id="searchTopo" action="consulta.php" method="get">
                    <div class="search-content">
                        <img src="arquivos_loja/14881/arquivo/busca.png" alt="" id="actionPesquisaTopo">
                        <input id="procurarPalavraTopo" type="text" class="form-control" placeholder="Procurar" name="palavra" required>
                    </div>
                </form>
            </li>
            <li class="pull-left">
                <a href="contato.php" target="_self">
                    [imagem_whats]
                    <span class="televenda_whatsapp">[celular]</span>
                </a>
            </li>
            <li><a href="#"><img src="arquivos_loja/14881/arquivo/messenger.png" alt=""></a></li>
            <li><a href="consulta_avancada.php" style="color: #000;">Busca Avançada</a></li>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<nav class="visible-xs hide-sm navbar navbar-default onlyMobileMenu navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="javascript:void(0)" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar3" aria-expanded="false" aria-controls="navbar3">
        <span>Departamentos</span>
      </a>
      <a href="javascript:void(0)" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar4" aria-expanded="false" aria-controls="navbar4">
        <span>Informações</span>
      </a>
    </div>
    </div>
</nav>
<section class="visible-xs visible-sm menus-responsivos">
  <div class="container">
    <div id="navbar3" class="navbar-collapse collapse"></div>
    <div id="navbar4" class="navbar-collapse collapse"></div>
    </div>
</section>
<section class="menuNMB">
    <div class="container text-center">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="interna.php?cod=188043">Acabamentos</a></li>
            <li><a href="contato.php">Contato</a></li>
        </ul>
    </div>
</section>
<section id="avisosTopo">
    <div class="container">
        <ul>
            <li>
                <div class="fundoImgAvisos inlineBlock">
                    <img src="arquivos_loja/14881/arquivo/fone.png" alt="">
                </div>
                <div class="inlineBlock">
                    <h3>Televendas</h3>
                    <h4>(54) 3451-8015</h4>
                    <h4>(54) 9 8118-6613</h4>
                    <h4>(51) 9 8488-6365</h4>
                </div>
            </li>
            <li>
                <div class="fundoImgAvisos inlineBlock">
                    <img src="arquivos_loja/14881/arquivo/layer-25.png" alt="">
                </div>
                <div class="inlineBlock">
                    <h3>Compre</h3>
                    <h3 class="letter16px">com cartão</h3>
                    <h4>BNDES</h4>
                </div>
            </li>
            <li>
                <div class="fundoImgAvisos inlineBlock">
                    <img src="arquivos_loja/14881/arquivo/layer-26.png" alt="">
                </div>
                <div class="inlineBlock">
                    <h3>Sua Compra</h3>
                    <h4>PARCELADA</h4>
                    <h3 class="letter16px"><span class="yellowLetter">12</span>x NO CARTÃO</h3>
                </div>
            </li>
            <li>
                <div class="fundoImgAvisos inlineBlock">
                    <img src="arquivos_loja/14881/arquivo/layer-27.png" alt="">
                </div>
                <div class="inlineBlock">
                    <h3>Garantia</h3>
                    <h4>COMPROVADA</h4>
                    <h3 class="letter16px">Produto Seguro</h3>
                </div>
            </li>
        </ul>
    </div>
</section>
<section id="bannerPsd">
    <img src="arquivos_loja/14881/arquivo/layer-36-min.png" alt="">
</section>
<div id="id_banner_Full"></div>
<div id="id_banner_produto"></div>
<span id="top-link-block" class="hidden">
    <a href="#top" class="well well-sm" target="_self" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
		<i class="material-icons">keyboard_arrow_up</i>
    </a>
</span>
<!--------------- FIM TOPO --------------->   



    
<div class="divcentral container" id="id_tabela_central" >	
	<div class="row">




<!------------- INICIO ESQUERDA -------------->      
<div class="divlateral col-md-3 hidden-xs hidden-sm" id="id_div_esquerda">
    <div class="lat_total">
        <div class="panel panel-default">
            <div class="LatTit panel-heading">Departamentos</div>
            <div id="cssmenu" class="cssmenu navbar-collapse collapse sidebar-navbar-collapse"></div>
        </div>

        <div class="panel panel-default login-panel">
            <div class="LatTit panel-heading">Login</div>
            <div class="caixaTexto">
            	<div class="caixa_login">[caixa_login]</div>
            </div>
        </div>

        <!-- <div class="panel panel-default">
            <div class="LatTit panel-heading">Informações</div> 
            <div id="cssmenu_pagina_interna" class="cssmenu"></div>
        </div> -->
        <div class="text-center">
            <img src="arquivos_loja/14881/arquivo/layer-37.png">
        </div>

        <div align="center" id="dive7rLeftBottom"></div> <!-- propaganda -->
        [ebit][html_banner_script_esquerda][publicidade_lojas_virtuais_br]
        <div align="center" id="id_banner_Lateral_Esquerda"></div><!-- banner do sistema -->
    </div>
</div>
<!--------------- FIM ESQUERDA --------------->       




			
        <div class="td_central col-md-9 col-xs-12" id="id_td_central">
            <div align="center" id="dive7rCenterTop"></div>    
            <div id="id_banner_Central" align="center"></div>      
            [conteudo]
        </div><!--  central -->




<!------------- INICIO DIREITA -------------->      
<div class="divlateral col-md-2 col-xs-12" id="id_div_direita">
	<div id="contentDireitaCol">
        [html_banner_script_direita]
        <div class="panel panel-default">
            <div class="LatTit panel-heading">Atendimento</div>
            <a href="#"><img src="arquivos_loja/14881/arquivo/rounded-rectangle-7.png"></a>
        </div>
        <div class="panel panel-default">
            <div class="LatTit panel-heading">Ofertas</div>
            <div class="panelBody">
                [caixa_ofertas]
            </div>
        </div>
        <div class="panel panel-default">
            <div class="LatTit panel-heading">Novidades</div>
            <div class="panelBody">
                [caixa_novidade]
            </div>
        </div>
        <div class="panel panel-default">
            <div class="LatTit panel-heading">Pagamento</div>
            <div class="panelBody">
                <img src="arquivos_loja/14881/arquivo/layer-38.png">
            </div>
        </div>
	</div>
	<div align="center" id="id_banner_Lateral_Direita"></div>
</div>
<!--------------- FIM DIREITA --------------->       



	</div><!-- row -->
</div><!-- div central - container -->







<!------------- INICIO RODAPE -------------->      
<!-- [cadastramento_email] -->
<section id="bgAzulEscritosPreFooter">
    <div class="container">
        <p>
        MÓVEIS PARA RESTAURANTE, MESAS E CADEIRAS PARA RESTAURANTE, CADEIRAS PARA BARES E RESTAURANTE, MESAS PARA BARES E RESTAURANTE, BANQUETAS
        PARA PUBS, MÓVEIS PARA BARES E PUBS, MÓVEIS PARA REFEITÓRIOS, MESAS E CADEIRAS PARA REFEITÓRIO
        </p>
    </div>
</section>
<section id="formasDepagamentoFooter">
    <img src="arquivos_loja/14881/arquivo/pags.png">
</section>
<footer class="rod_total">
    <div align="center" id="id_banner_Rodape"></div>
    <div class="container">
    	<div class="row">
            <div class="col-md-6">
            	<div class="row">
                    <!-- <div class="col-md-2" id="menu-insti">
                        <ul class='menus-footer'> 
                            <li  class='tit-menus-footer'><a href="javascript:void(0)">Institucional</a></li>
                            <li><a href="index.php" target="_self">Home</a></li>
                            <li><a href="indique.php" target="_self">Indique o Site</a></li>
                            <li><a href="contato.php" target="_self">Fale Conosco</a></li>
                        </ul>
                    </div> -->
                    <div class="col-md-12">
                        <div class="meio_info">
                        	<div class="meio_info_end">[rodape]</div>
                            <!-- <div>[imagem_p_facebook][imagem_p_twitter][imagem_p_pinterest][imagem_p_instagram][imagem_p_google][imagem_p_youtube]</div> -->
                        </div>
                    </div>
                    <!-- <div class="col-md-5">
                        <div class="barra_meio_inf_total">
                            <div class="barra_meio_inf">
                                [html_2_rodape]
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-6 text-right" id="fotoFooterFachada">
                <img src="arquivos_loja/14881/arquivo/foto.png">
            </div>
        </div>

    </div>
</footer>
<section id="posFooter">
    <img src="arquivos_loja/14881/arquivo/seguro.png">
</section>
<div class="modal fade" id="modal-produto" tabindex="-1" role="dialog" aria-labelledby="modal-produto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <div class="row vertical-align-modal" id="row-prdt">
            <div class="col-md-6">
                <div id="foto-produto" class="thumbnail"></div>   
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h3 id="titulo-prdt" class="text-center"></h3>
                </div>
                <div class="form-group text-center btns-modal-prdt">
                    <a id="comprar-prdt" href="#" class="btn btn-primary form-control">Comprar Produto</a>
                    <a id="soli-cot" href="#" class="btn fade in btn-default bot_solicitar_cotacao_vit form-control">Solicitar Cotação</a>
                    <input type="button" id="img-indisponivel" class="btn btn-warning form-control" disabled="true" value="Indisponível">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function() {
		
		//************ login ativo ou inativo ****/
		$('.login_inativo, .login_ativo').hide();
	
		if('[cliente]'==''){//se não esta logado		  
		  $('.login_inativo').show();
		}else{
		  $('.login_ativo').show();
		}
		  
		  
		$('#procurarPalavraTopo').click(function(event) {
		  if(!$('#procurarPalavraTopo').val().length) {
			$('li.search').toggleClass('opend');
		  }
		});
		$('#procurarPalavraTopo').blur(function(event) {
		  if(!$('#procurarPalavraTopo').val().length) {
			$('li.search').toggleClass('opend');
		  }
		});
		$('#actionPesquisaTopo').click(function(event) {
		  if($('#procurarPalavraTopo').val().length) {
			  $('#searchTopo').submit();
		  }
		});

        
        var Mypagina = document.URL.split('/');
        Mypagina = $(Mypagina).get(-1);

		//*********** menu de departamento e categoria *****/
        $("#cssmenu").ready(function () {
        	var jqxhr = $.getJSON( "json/departamentos_categorias.php", function() {}).done(function(data ) {
        		var items = [];
                var itemsMobile = [];
                var i = 0;
                
                var open_drop=Menu_Tipo>3?'':'open in',
                aria_expanded=Menu_Tipo>3?false:true,
                collapsed=Menu_Tipo>3?'collapsed':'';

                /* 
                1 = Departamento e Categoria (Aberto)
                2 = Departamento e Categoria (Aberto com total de Produtos)
                3 = Só Departamento (Aberto)
                4 = Departamento e Categoria (Fechado)
                5 = Departamento e Categoria (Fechado com total de Produtos)
                */

        		$.each( data, function(posicao,departamento) {
                     i++;
        			 aux_categoria = "";
        			 $.each( departamento.categoria, function(aux, categoria) {
					 	
                        var badge = categoria.qtde != undefined && (Menu_Tipo==2||Menu_Tipo==5) ?'<span class="badge pull-right">'+categoria.qtde+'</span>':'';
        				aux_categoria += '<li><a href="'+categoria.link+'"><span>'+categoria.nome+'</span>'+badge+'</a></li>';
        			});
        			items.push( '<li class="drop-li"><a href="javascript:void(0)" data-toggle="collapse" data-target="#toggleDemo'+i+'" data-parent="#sidenav1" class="'+collapsed+'"  aria-expanded="'+aria_expanded+'"><span>'+departamento.nome+'</span><div class="eng-i-dwn"><i class="material-icons">keyboard_arrow_down</i></div></a><div aria-expanded="'+aria_expanded+'" class="collapse '+open_drop+'" id="toggleDemo'+i+'"><ul class="nav nav-list">'+aux_categoria+'</ul></div>');
                    itemsMobile.push( '<li><a href="javascript:void(0)" data-toggle="collapse" data-target="#toggleDemo1'+i+'mobile" data-parent="#sidenav2" class="collapsed"><span>'+departamento.nome+'</span></a><div class="collapse" id="toggleDemo1'+i+'mobile"><ul class="nav nav-list">'+aux_categoria+'</ul></div>');
        		});
        		$( "#cssmenu" ).append('<ul class="nav navbar-nav" id="sidenav1">'+items.join( "" )+'</ul>');
                $( "#navbar3" ).append('<ul class="nav navbar-nav" id="sidenav2">'+itemsMobile.join( "" )+'</ul>');
			    muda_tamanho();
        	}).fail(function() {
        	  //alert( "Erro ao carregar os departamentos!" );
        	})
        });
		
		//*********** menu de paginas internas *******/
        $("#cssmenu_pagina_interna").ready(function () {
        var jqxhr = $.getJSON( "json/paginas_internas.php", function() {}).done(function(data ) {
        		 var items = [];
        		 $.each( data, function(posicao,dado) {
        			items.push( "<ul class='nav'><li><a href='interna.php?cod=" + dado.cod + "' target='_self' >" + dado.nome + "</a></li></ul>" );
        		 });
        		 $( "#cssmenu_pagina_interna" ).append(items.join( "" ));
                 $( "#navbar4" ).append(items.join( "" ));
        	}).fail(function() {
        		//alert( "erro ao carregar categoria" );
        	});
        });
		
		
		//*********** ajustes nos botoes e campos *******/
        $('input[type="text"], input[type="submit"], input[type="password"], input[type="email"], .botao, input[type="number"], textarea, select').each(function() {
            var t = $(this);
            t.addClass('form-control');
            if(t.hasClass('bot_entrar') || t.hasClass('NewsBtnEnviar')) {
                t.addClass('btn btn-primary');
            }
        });





		//************** ajuste nas paginas do sistema ********/
        var d_i_f = $('.fretes-infosfinais .info-finais');

        $('#separa-total').remove();

        d_i_f.find('.main.label').css({
            'font-weight': 'bold',
            'font-size': '14px',
            'margin-bottom': '5px'
        }).removeClass('label'); //.addClass('col-md-12')

        if(document.URL.indexOf('login') != -1) {
            $('.login-panel').hide();
        }
        $('.titulo1').each(function() {
            if($(this).text().indexOf('Nao') != -1 || $(this).text().indexOf('existe um p') != -1) {
                $(this).addClass('alert alert-danger').css({
                    'color': '#a94442',
                    'padding': '30px 15px'
                });
            }    
        });
        $('.codKey .col-md-9').find('.col-md-3, .col-md-9').css({'width': '', 'padding': '0'});

        $('.caixaTextoBorda.tabelaDePedidos').find('table').attr({
            'cellpadding': '',
            'width': ''
        }).find('.tabela_adicionar td').css('border-top', '0')


        if($('.titulo1.alert.alert-danger').length) $('.titulo1.alert.alert-danger').html($('.titulo1.alert.alert-danger').html().replace('<br>',''));
        $('#id_bot_finalizar_pedido').click(function() {
            $('#id_aguardando').hide();
            if($('#id_aguardando').text().trim().length) {
                $('#id_aguardando').fadeIn();
            }
        })
        $('#id_fieldCod_Forma_Pagamento').change(function() {
            $('#id_aguardando').hide();
            if($('#id_aguardando').text().trim().length) {
                $('#id_aguardando').fadeIn();
            }
        })


        var el_cnt = $('#form_finalizar .table-responsive .Borda');
        var cnt = el_cnt.contents();
        el_cnt.replaceWith(cnt);


        $(window).scroll(function() {
            if ($(this).scrollTop()>200) {
                $('#top-link-block').removeClass('hidden').affix({
                    offset: {top:100}
                });
            }
        });
        $('#id_tabela_dados_pedido').find('hr').remove()
        $('.caixa_login form[name="login"] input').css('width', '100%')
        $('form[name="form_carrinho"] .Borda').find('table#id_tabela_carrinho').attr({
            'cellpadding': '',
            'width': ''
        });

        $('table[id^=id_dados_] tr').each(function() {
            var lbl = $(this).find('td:first-child').html();
            var inpt = $(this).find('td:last-child').html();
            $(this).html('<p>'+lbl+'<br>'+inpt+'</p>');
        });
        $('.left-two-coluns').removeClass('left-two-coluns').addClass('col-md-8 col-sm-12 col-xs-12');
        $('.right-two-coluns').removeClass('right-two-coluns').addClass('col-md-4 col-sm-12 col-xs-12 pull-right');

        $('.codPromocional .tit').removeClass('tit').addClass('othertit'); //classes iguais
        $('.engTitSubTit .tit').removeClass('tit').addClass('othertit');

        var lres = $('.resposta-login');
        var lresh = lres.html();
        if(lresh && lresh.trim().length) {
            lres.html('');
            $('.eng-login-cadastro').before('<div class="alert alert-danger">'+lresh+'</div>');
        }
        if(Mypagina.indexOf('cliente_informacoes') != -1) {

            var cadaBox = $('.meuPedidos-new .infoBoxContents .caixaTextoBorda');
            var iconPessoais = cadaBox.find('.tabela_adicionar i')[0].outerHTML;
            var iconContato = cadaBox.find('.tabela_adicionar i')[1].outerHTML;
            var iconEndereco = cadaBox.find('.tabela_adicionar i')[2].outerHTML;

            cadaBox.find('.tabela_adicionar').find('.titulo').remove();
            cadaBox.remove();

            $('.meuPedidos-new').first().after('<ul id="clientesInformacoes" class="nav nav-tabs nav-justified"><li class="active"><a data-toggle="tab" href="#pessoais">Detalhes Pessoais '+iconPessoais+'</a></li><li><a data-toggle="tab" href="#contato">Informações de Contato '+iconContato+'</a></li><li><a data-toggle="tab" href="#endereco">Seu Endereço '+iconEndereco+'</a></li></ul>');
            $('.nav-tabs').after('<div id="clientesInformacoesTabContent" class="tab-content"><div id="pessoais" class="tab-pane fade in active row"><div class="caixaTextoBorda"></div></div><div id="contato" class="tab-pane fade row"><div class="caixaTextoBorda"></div></div><div id="endereco" class="tab-pane fade row"><div class="caixaTextoBorda"></div></div></div>');

            $(cadaBox[0]).find('.tabela_adicionar').each(function(loop, el){

                $(this).addClass('col-md-12');
                $(el).find('.caixaTexto:first-child').addClass('col-md-2');
                $(el).find('.caixaTexto:last-child').addClass('col-md-10');

                if($(el).find('.caixaTexto').text().trim().length) {
                    if(loop <=6) {
                        $('.tab-content #pessoais .caixaTextoBorda').append(el);
                    }else{
                        $('.tab-content #contato .caixaTextoBorda').append(el);
                    }
                }
            });
            $(cadaBox[1]).find('.tabela_adicionar').each(function(loop, el){

                $(this).addClass('col-md-12');
                $(el).find('.caixaTexto:first-child').addClass('col-md-2');
                $(el).find('.caixaTexto:last-child').addClass('col-md-10');

                if($(el).find('.caixaTexto').text().trim().length) {
                    $('.tab-content #endereco .caixaTextoBorda').append(el);
                }
            });
        }
        $('.new-version .titulo1').addClass('page-header');
        $('.new-version .td_cliente').remove();

        $('.smallText.texts-topo-caixa-borda.left').addClass('alert alert-info').find('font').remove();
        var preenchiObri = $('.texts-topo-caixa-borda.right');
        $('#engloba-passos').after('<div class="camposObri">'+preenchiObri.html()+'</div>');
        preenchiObri.remove();


        $('.new-version div .caixaTexto:first-child').addClass('col-md-4').css('padding-right', '0');
        $('.new-version div .caixaTexto:last-child').addClass('col-md-8').css('padding-left', '0');

        $('#res-captcha').addClass('alert alert-danger');

        $('.link_caminho').first().before('<ol class="breadcrumb"></ol>');
        $('.link_caminho').each(function(loop, el) {
            var hT = $(this).html();
            hT = hT.replace('>', '');
            hT = hT.trim();

            var hRT = $(this).attr('href');
            var cRT = '';
            var eRT = 'a';
            if(hRT == undefined){
                hRT = 'javascript:void(0)';
                cRT = 'active';
                eRT = 'span';
            }

            if(hT != ''){
                $('ol.breadcrumb').append('<li id="caminholi'+loop+'" class="' + cRT + '"></li>');
                $('ol.breadcrumb li#caminholi'+loop).append('<'+eRT+' id="caminhoa'+loop+'" href="' + hRT + '"></'+eRT+'>');
                $('ol.breadcrumb li#caminholi'+loop+' '+eRT+'#caminhoa'+loop).append(hT);
            }
        })
        $('span.link_caminho,a.link_caminho').remove();

        $('.navbar-brand').ready(function(){
            var first_height = $('.navbar-brand').height() + 30; // + 15 referente ao padding
            first_height = (first_height - 44) /2;

            $('.navbar-default .nav.navbar-nav, [data-target^="#navbar"]').css({'margin-top':first_height+'px','margin-bottom':first_height+'px'})
        });
        function GetIEVersion() {
            var sAgent=window.navigator.userAgent,Idx=sAgent.indexOf("MSIE");
            if (Idx>0) { 
                return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));
            } else if (!!navigator.userAgent.match(/Trident\/7\./)) {
                return 11;
            } else {
                return 0;
            }
        }
        if(GetIEVersion()>0) {//ajuste para ie
            $('.vertical-align>[class^="col-"],.vertical-align>[class*="col-"]').css('display','block');
            $('#top-link-block').css('right','30px');
        }
		
		//*********** botao resumo do produto (vitrine) *****/
        $('#modal-produto').on('shown.bs.modal', function (e) {
            var el = $(e.target).find('#titulo-prdt')[0],
            btn_cmp = $('#comprar-prdt'),
            btn_cot = $('#soli-cot'),
            btn_ind = $('#modal-produto #img-indisponivel');

            if($(el).text().trim().indexOf('Sob consulta!')!=-1) {
                btn_cot.show();
                btn_cmp.hide();
                btn_ind.hide();
            } else if($('a.bot_resumo-new').data('indisponivel')) {
                btn_ind.show();
                btn_cmp.hide();
                btn_cot.hide();
            }else {
                btn_cmp.show();
                btn_cot.hide();
                btn_ind.hide();
            }
        });

		//********** verifica conteudo nas abas direita e esquerda e ajusta os tamanhos *******/
        var elRight = $('#id_div_direita');
        var elCenter = $('#id_td_central');

        if(($('#id_banner_Lateral_Direita').length>0 && $('#id_banner_Lateral_Direita').html().trim().length ) || ($('#contentDireitaCol').length && $('#contentDireitaCol').html().trim().length)) {
            // Existe algum conteudo na coluna da direita
            elCenter.removeClass('col-md-9').addClass('col-md-7');
            elRight.show();
        }else{
            // Nao existe algum conteudo na coluna da direita
            elCenter.removeClass('col-md-7').addClass('col-md-9');
            elRight.hide();
        }

       
        if($('.class_msg_finalizacao').length) {
            $('.class_msg_finalizacao').addClass('alert alert-success').find('br').remove();
        }
   
   
		//icones do atendimento online
		if('[fone]' ==''){
			$('.telefone_loja').hide();
		}
		if('[cod_atendimento_online]' !=''){    
        	var jqxhr = $.getJSON( "json/atendimento_htalk.php?id=[cod_atendimento_online]", function() {})
			.done(function(data ) {
				if(data.status==1){
				  	$('.barra1_chat').addClass('online');
				}else{
					$('.barra1_chat').removeClass('online');
				}
			}).fail(function() {
        		console.log('Erro ao carregar json.');  
			});
			
		}else{
			$('.class_atendimento_online').hide();
		}
		   
    });
</script>
<!--------------- FIM RODAPE --------------->       