<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12&appId=683839868671464&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
    #menuPrimary {
        background: url('arquivos_loja/14884/arquivo/rectangle1two.png') no-repeat;
        border-bottom: solid 8px #fe3b01;
        height: 235px;
        overflow: hidden;
        background-size: cover;
    }
    .navbar-default {
        background-color: #fff;
    }
    .navbar-header {
        top: -60px;
        position: relative;
    }
    #logo_loja {
        max-height: 100%;
        max-width: 100%;
    }
    footer #logo_loja {
        max-height: 150px;
        max-width: 100%;
    }
    .login_inativo * {
        display: inline-block!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .login_inativo a {
        font-weight: bold;
    }
    .topoRow1 {
        padding-left: 300px!important;
    }
    .topoRow1 .nav > li > a,
    .topoRow1 .nav > li {
        color: #fff!important;
        text-transform: uppercase;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        background-color: transparent!important;
    }
    #ladoDireito li,
    #searchSection li {
        display: block;
        float: none;
    }
    #ladoDireito li:first-child a {
        padding-bottom: 0;
    }
    #ladoDireito li:last-child a {
        padding-top: 5px;
    }
    i#actionPesquisaTopo {
        position: absolute;
        right: 5px;
        top: 5px;
        color: #b22f07;
    }
    #procurarPalavraTopo {
        background: transparent;
        border-radius: 0;
        border: solid 3px #fe3b01;
    }
    #procurarPalavraTopo::-webkit-input-placeholder {
        color: #b22f07!important;
    }
    #searchSection {
        padding-left: 30px;
        padding-top: 70px;
    }
    li.search {
        width: 350px!important;
    }
    .faleConosco {
        padding: 5px 0;
    }
    .faleConosco,
    .faleConosco * {
        color: #00b283;
    }
    li#carrinho #carrinhoImg,
    li#carrinho #carrinhoTxt {
        display: inline-block;
        vertical-align: middle;
    }
    li#carrinho #carrinhoImg {
        border: solid 3px #fe3b01;
        border-radius: 100%;
        padding: 7px;
        margin-right: 10px;
    }
    li#carrinho #carrinhoImg img {
        max-width: 100%;
    }
    li#carrinho #carrinhoTxt * {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15.6px;
        margin: 0;
    }
    li#carrinho #carrinhoTxt p {
        color: #fe3b01;
    }
    li#carrinho #carrinhoTxt span {
        color: #2c2c2c;
    }
    #mascote {
        position: relative;
        top: -10px;
    }
    .horizontal-style {
        display: table;
        width: 100%;
        margin: 0;
    }
    .horizontal-style li {
        display: table-cell;
        text-align: center;
        padding: 10px 0;
    }
    .horizontal-style li a {
        color: #fff;
        text-transform: uppercase;
    }
    .horizontal-style .opacityZero {
        opacity: 0;
        cursor: default;
    }
    .green {
        background-color: #00b283;
    }
    .red {
        background-color: #b22f07;
    }
    .orange {
        background-color: #ff5f2f;
    }
    .orangered {
        background-color: #ff4b15;
    }
    li#carrinho {
        padding-top: 80px;
    }
    #slide-destaque {
        position: relative;
        top: -10px;
        z-index: 3;
        background-image: url('arquivos_loja/14884/arquivo/layer-25-min.png')!important;
        background-attachment: initial!important;
        background-position: center!important;
    }
    .carousel, header .item, header .item .active {
        height: 380px!important;
    }
    #slide-destaque .carousel-caption {
        top: 10px!important;
    }
    footer {
        background: url('arquivos_loja/14884/arquivo/rectangle-2-copy.png');
        border-top: solid 45px #ff5f2f;
        overflow: hidden;
    }
    .desenvolvido_por {
        display: none;
    }
    #logoFooter {
        text-align: center;
    }
    footer div[class^='col-'] {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
    #logoFooter h4 {
        color: #ff5f2f;
        font-weight: bold;
    }
    #logoFooter .flcnos {
        margin-top: 0;
    }
    #menu-insti li a {
        color: #000;
        text-transform: uppercase;
    }
    .tit-menus-footer a {
        color: #b22f07!important;
        font-weight: bold;
        font-size: 18px;
    }
    #menu-insti li {
        padding: 5px 0;
    }
    .tit-menus-footer {
        margin-bottom: 20px;
    }

    .formasDepGto h3,
    .formasDeEnvio h3,
    .redesSociais h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        margin-top: 5px;
    }
    .formasDepGto h3 {
        color: #ff5f2f;
    }
    .formasDeEnvio h3 {
        color: #ff5f2f;
    }
    .redesSociais h3 {
        color: #00b283;
    }
    .redesSociais {
        margin-bottom: 25px;
    }
    footer .col-md-3:not(:first-child) {
        border-left: solid thin #d3d3d3;
    }
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    #id_div_esquerda .panel {
        border-radius: 0;
    }
    #id_div_esquerda .panel-default>.panel-heading {
        background-color: #fe3b01;
        border-color: #fe3b01;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0;
        border-bottom: solid 8px #ff5f2f;
    }
    #menusColoridinhos {
        overflow: hidden;
    }
    #menuPrimary .row {
        margin: 0;
    }
    #quick-top {
        z-index: 9;
    }
    @media (min-width: 992px) and (max-width: 1024px) {
        li.search {
            width: 310px!important;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .navbar-header {
            top: -50px;
        }
        #menuPrimary {
            height: initial!important;
            overflow: initial!important;
        }
        .navbar-brand {
            padding: 0;
        }
        #logo_loja {
            max-height: 150px;
        }
        .navbar-toggle {
            margin-top: 100px!important;
        }
        #mascote {
            display: none;
        }
        .topoRow1 {
            padding-left: 200px!important;
        }
        .navbar-right {
            float: right!important;
        }
        #ladoDireito {
            position: relative;
            top: -40px;
        }
        #searchSection {
            padding-left: 10px;
            padding-top: 15px;
        }
        li#carrinho {
            padding-top: 15px!important;
        }
        #chinelinho {
            float: left!important;
        }
    }
    @media (max-width: 576px) {
        footer {
            background: #fff;
        }
        footer * {
            text-align: center!important;
        }
        .row-eq-height {
            display: initial!important;
        }
        footer .col-md-3:not(:first-child) {
            border-left: none;
            border-top: solid thin #d3d3d3;
        }
        footer div[class^='col-'] {
            padding-top: 15px!important;
            padding-bottom: 15px!important;
        }
        .topoRow1 {
            padding-left: 15px!important;
        }
        #logo_loja {
            height: 180px!important;
        }
        #menuPrimary {
            height: initial!important;
            overflow: initial!important;
        }
        #ladoDireito {
            float: right!important;
        }
        #menuPrimary .navbar-nav,
        #menuPrimary .navbar-nav>li>a {
            padding: 0!important;
            margin-top: 0!important;
            margin-bottom: 0!important;
        }
        .search input {
            opacity: 1;
        }
        #mascote {
            display: none;
        }
        #navbar2.navbar-collapse {
            padding: 25px!important;
        }
        li.search {
            width: 100%!important;
            margin-top: 10px;
        }
        #carrinho {
            padding-top: 15px!important;
        }
        .navbar-header {
            top: 0;
            padding-right: 15px;
        }
        .navbar-brand {
            padding-top: 0!important;
            padding-bottom: 0!important;
        }
        button.navbar-toggle[data-target="#navbar2"] {
            margin: 70px 15px!important;
        }
        #navbar.topoRow1 {
            padding: 10px 0;
            margin-left: -25px;
        }
        .topoRow1 * {
            font-size: 13px;
        }
        .login_inativo {
            float: none!important;
            padding-left: 5px!important;
        }
        #ladoDireito {
            float: left!important;
        }
        .onlyMobileMenu .navbar-header {
            padding: 0!important;
        }
        #menusColoridinhos li:nth-child(1),
        #menusColoridinhos li:nth-child(2),
        #menusColoridinhos li:nth-child(3),
        #menusColoridinhos li:last-child {
            display: none;
        }
        .menus-responsivos {
            background: #fff;
        }
        .carousel, header .item, header .item .active {
            height: 500px!important;
        }
        .login_ativo {
            float: left!important;
            padding-bottom: 10px;
        }
        #sua-conta i {
            top: 3px;
        }
        .dropdown-menu {
            position: absolute!important;
            background-color: #fff!important;
        }
    }
</style>
<!------------- INICIO TOPO -------------->      
[html_script_topo]
<nav id="menuPrimary" class="navbar navbar-default navbar-static-top">
    <div class="row">
        <div class="container">
            <div id="navbar" class="navbar-collapse topoRow1">
                <ul class="nav navbar-nav">
                    <li class="login_inativo">
                        <span>Olá visitante, faça</span>
                        <a href="login.php" target="_self">Login</a>
                        <span>ou</span>
                        <a href="novo_cliente.php" target="_self">Cadastre-se</a>
                    </li>
                    <li class="login_ativo dropdown">
                        <a href="javascript:void(0)" id="sua-conta" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Sua Conta</span>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">[cliente]</li>
                            <li><a href="novo_cliente.php?editar=true">Editar Cadastro</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="index.php?logoff=1">Sair</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Lado Direito -->
                <ul id="ladoDireito" class="nav navbar-nav navbar-right">
                    <li class="pull-left">
                        <a href="contato.php" target="_self">
                            <img src="arquivos_loja/14884/arquivo/telefone-ico.png" alt="">
                            <span class="telefone telefone_loja">[fone]</span>
                            <!-- <i class="material-icons telefone telefone_loja" >phone_in_talk</i>
                            <span class="televenda_whatsapp">[celular]</span>
                            [imagem_whats]	 -->
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2">
                <span class="sr-only">Menu Principal</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="javascript:void(0)" class="navbar-toggle visible-sm collapsed" data-toggle="collapse" data-target="#navbar3" aria-expanded="false" aria-controls="navbar3">
                <span>Departamentos</span>
            </a>
            <a href="javascript:void(0)" class="navbar-toggle visible-sm collapsed" data-toggle="collapse" data-target="#navbar4" aria-expanded="false" aria-controls="navbar4">
                <span>Informações</span>
            </a>
            <div class="navbar-brand">[logo]</div>
            </div>
            <div id="navbar2" class="navbar-collapse collapse">
            <!-- Lado Esquerdo -->
            <ul id="searchSection" class="nav navbar-nav">
                <li>
                    <div class="faleConosco">FALE CONOSCO: <a href="mailto:pedido@idealparavoce.com.br">pedido@idealparavoce.com.br</a></div>
                </li>
                <li class="search">
                    <form id="searchTopo" action="consulta.php" method="get">
                        <div class="search-content">
                        <i id="actionPesquisaTopo" class="material-icons">search</i>
                        <input id="procurarPalavraTopo" type="text" class="form-control" placeholder="Faça sua busca" name="palavra" required>
                        </div>
                    </form>
                </li>
                <!-- <li><a href="index.php" target="_self">Home</a></li>
                <li><a href="lancamento.php" target="_self">Lançamentos</a></li>
                <li><a href="oferta.php" target="_self">Promoções</a></li>
                <li><a href="contato.php" target="_self">Fale Conosco</a></li> -->
            </ul>
            <!-- Lado Direito -->
            <ul id="chinelinho" class="nav navbar-nav navbar-right">
                <li id="mascote"><img src="arquivos_loja/14884/arquivo/mascote.png" alt=""></li>
                <!-- <li><a href="cliente_informacoes.php" target="_self">Meus Pedidos</a></li> -->
                <li id="carrinho">
                    <a href="carrinho.php" target="_self">
                        <div id="carrinhoImg">
                            <img src="arquivos_loja/14884/arquivo/carrinho.png" alt="">
                        </div>
                        <div id="carrinhoTxt">
                            <p>Suas Compras: [qtde_de_itens_no_carrinho]</p>
                            <span>Finalizar Compra</span>
                        </div>
                    </a>
                </li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>
<nav class="visible-xs hide-sm navbar navbar-default onlyMobileMenu navbar-static-top">
    <div class="container">
        <div class="navbar-header">
        <a href="javascript:void(0)" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar3" aria-expanded="false" aria-controls="navbar3">
            <span>Departamentos</span>
        </a>
        <a href="javascript:void(0)" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar4" aria-expanded="false" aria-controls="navbar4">
            <span>Informações</span>
        </a>
        </div>
    </div>
</nav>
<section class="visible-xs visible-sm menus-responsivos">
  <div class="container">
    <div id="navbar3" class="navbar-collapse collapse"></div>
    <div id="navbar4" class="navbar-collapse collapse"></div>
    </div>
</section>
<nav id="menusColoridinhos" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="row">
            <ul class="horizontal-style">
                <li class="green"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
                <li class="red"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
                <li class="orange"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
                <li class="orangered"><a href="oferta.php" target="_self">Promoções</a></li>
                <li class="green"><a href="lancamento.php" target="_self">Novidades</a></li>
                <li class="orangered"><a href="contato.php" target="_self">Contato</a></li>
                <li class="red"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="id_banner_Full"></div>
<div id="id_banner_produto"></div>
<span id="top-link-block" class="hidden">
    <a href="#top" class="well well-sm" target="_self" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
		<i class="material-icons">keyboard_arrow_up</i>
    </a>
</span>
<!--------------- FIM TOPO --------------->   



    
<div class="divcentral container" id="id_tabela_central" >	
	<div class="row">




<!------------- INICIO ESQUERDA -------------->      
<div class="divlateral col-md-3 hidden-xs hidden-sm" id="id_div_esquerda">
    <div class="lat_total">
        <div class="panel panel-default">
            <div class="LatTit panel-heading">Departamentos</div>
            <div id="cssmenu" class="cssmenu navbar-collapse collapse sidebar-navbar-collapse"></div>
        </div>

        <div class="panel panel-default login-panel">
            <div class="LatTit panel-heading">Login</div>
            <div class="caixaTexto">
            	<div class="caixa_login">[caixa_login]</div>
            </div>
        </div>

        <!-- <div class="panel panel-default">
            <div class="LatTit panel-heading">Informações</div> 
            <div id="cssmenu_pagina_interna" class="cssmenu"></div>
        </div> -->

        <div align="center" id="dive7rLeftBottom"></div> <!-- propaganda -->
        [ebit][html_banner_script_esquerda][publicidade_lojas_virtuais_br]
        <div align="center" id="id_banner_Lateral_Esquerda"></div><!-- banner do sistema -->
    </div>
</div>
<!--------------- FIM ESQUERDA --------------->       




			
        <div class="td_central col-md-9 col-xs-12" id="id_td_central">
            <div align="center" id="dive7rCenterTop"></div>    
            <div id="id_banner_Central" align="center"></div>      
            [conteudo]
        </div><!--  central -->




<!------------- INICIO DIREITA -------------->      
<div class="divlateral col-md-2 col-xs-12" id="id_div_direita">
	<div id="contentDireitaCol">
		[html_banner_script_direita]
	</div>
	<div align="center" id="id_banner_Lateral_Direita"></div>
</div>
<!--------------- FIM DIREITA --------------->       



	</div><!-- row -->
</div><!-- div central - container -->







<!------------- INICIO RODAPE -------------->      
<!-- [cadastramento_email] -->
<footer class="rod_total">
    <div align="center" id="id_banner_Rodape"></div>
    <div class="container">
    	<div class="row">
            <div class="col-md-12">
            	<div class="row row-eq-height">
                    <div class="col-md-3">
                        <div id="logoFooter">
                            <div>[logo]</div>
                            <h4 class="flcnos">Fale conosco:</h4>
                            <h4>[fone]</h4>
                        </div>
                    </div>
                    <div class="col-md-3" id="menu-insti">
                        <ul class='menus-footer'> 
                            <li  class='tit-menus-footer'><a href="javascript:void(0)">Institucional</a></li>
                            <li><a href="interna.php?cod=54350" target="_self">Quem Somos</a></li>
                            <li><a href="interna.php?cod=54348" target="_self">Politicas de Privacidade</a></li>
                            <li><a href="interna.php?cod=166701" target="_self">Politica de Troca</a></li>
                            <li><a href="indique.php" target="_self">Indique o Site</a></li>
                            <li><a href="contato.php" target="_self">Contato</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="formasDepGto">
                            <h3>Formas de Pagamento</h3>
                            <div class="text-center">
                                <img src="arquivos_loja/14884/arquivo/layer-32.png" alt="">
                                <img src="arquivos_loja/14884/arquivo/deposito.png" alt="">
                                <img src="arquivos_loja/14884/arquivo/layer-34.png" alt="">
                            </div>
                        </div>
                        <!-- <div class="meio_info">
                        	<div class="meio_info_end">[rodape]</div>
                            <div>[imagem_p_facebook][imagem_p_twitter][imagem_p_pinterest][imagem_p_instagram][imagem_p_google][imagem_p_youtube]</div>
                        </div> -->
                    </div>
                    <div class="col-md-3">
                        <div class="redesSociais">
                            <h3>Redes Sociais</h3>
                            <div class="fb-like" data-href="https://www.facebook.com/Ideal-para-Voc%C3%AA-332201526861298/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                        </div>
                        <div class="formasDeEnvio">
                            <h3>Formas de Envio</h3>
                            <img src="arquivos_loja/14884/arquivo/layer-30.png" alt="">
                        </div>
                        <!-- <div class="barra_meio_inf_total">
                            <div class="barra_meio_inf">
                                [html_2_rodape]
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <ul class="horizontal-style">
        <li class="green"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
        <li class="red"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
        <li class="orange"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
        <li class="orangered"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
        <li class="green"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
        <li class="orangered"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
        <li class="red"><a href="javascript:void(0)" target="_self"><span class="opacityZero">Promoções</span></a></li>
    </ul>
</footer>
<div class="modal fade" id="modal-produto" tabindex="-1" role="dialog" aria-labelledby="modal-produto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <div class="row vertical-align-modal" id="row-prdt">
            <div class="col-md-6">
                <div id="foto-produto" class="thumbnail"></div>   
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h3 id="titulo-prdt" class="text-center"></h3>
                </div>
                <div class="form-group text-center btns-modal-prdt">
                    <a id="comprar-prdt" href="#" class="btn btn-primary form-control">Comprar Produto</a>
                    <a id="soli-cot" href="#" class="btn fade in btn-default bot_solicitar_cotacao_vit form-control">Solicitar Cotação</a>
                    <input type="button" id="img-indisponivel" class="btn btn-warning form-control" disabled="true" value="Indisponível">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function() {
		
		//************ login ativo ou inativo ****/
		$('.login_inativo, .login_ativo').hide();
	
		if('[cliente]'==''){//se não esta logado		  
		  $('.login_inativo').show();
		}else{
		  $('.login_ativo').show();
		}
		  
		  
		$('#procurarPalavraTopo').click(function(event) {
		  if(!$('#procurarPalavraTopo').val().length) {
			$('li.search').toggleClass('opend');
		  }
		});
		$('#procurarPalavraTopo').blur(function(event) {
		  if(!$('#procurarPalavraTopo').val().length) {
			$('li.search').toggleClass('opend');
		  }
		});
		$('#actionPesquisaTopo').click(function(event) {
		  if($('#procurarPalavraTopo').val().length) {
			  $('#searchTopo').submit();
		  }
		});

        
        var Mypagina = document.URL.split('/');
        Mypagina = $(Mypagina).get(-1);

		//*********** menu de departamento e categoria *****/
        $("#cssmenu").ready(function () {
        	var jqxhr = $.getJSON( "json/departamentos_categorias.php", function() {}).done(function(data ) {
        		var items = [];
                var itemsMobile = [];
                var i = 0;
                
                var open_drop=Menu_Tipo>3?'':'open in',
                aria_expanded=Menu_Tipo>3?false:true,
                collapsed=Menu_Tipo>3?'collapsed':'';

                /* 
                1 = Departamento e Categoria (Aberto)
                2 = Departamento e Categoria (Aberto com total de Produtos)
                3 = Só Departamento (Aberto)
                4 = Departamento e Categoria (Fechado)
                5 = Departamento e Categoria (Fechado com total de Produtos)
                */

        		$.each( data, function(posicao,departamento) {
                     i++;
        			 aux_categoria = "";
        			 $.each( departamento.categoria, function(aux, categoria) {
					 	
                        var badge = categoria.qtde != undefined && (Menu_Tipo==2||Menu_Tipo==5) ?'<span class="badge pull-right">'+categoria.qtde+'</span>':'';
        				aux_categoria += '<li><a href="'+categoria.link+'"><span>'+categoria.nome+'</span>'+badge+'</a></li>';
        			});
        			items.push( '<li class="drop-li"><a href="javascript:void(0)" data-toggle="collapse" data-target="#toggleDemo'+i+'" data-parent="#sidenav1" class="'+collapsed+'"  aria-expanded="'+aria_expanded+'"><span>'+departamento.nome+'</span><div class="eng-i-dwn"><i class="material-icons">keyboard_arrow_down</i></div></a><div aria-expanded="'+aria_expanded+'" class="collapse '+open_drop+'" id="toggleDemo'+i+'"><ul class="nav nav-list">'+aux_categoria+'</ul></div>');
                    itemsMobile.push( '<li><a href="javascript:void(0)" data-toggle="collapse" data-target="#toggleDemo1'+i+'mobile" data-parent="#sidenav2" class="collapsed"><span>'+departamento.nome+'</span></a><div class="collapse" id="toggleDemo1'+i+'mobile"><ul class="nav nav-list">'+aux_categoria+'</ul></div>');
        		});
        		$( "#cssmenu" ).append('<ul class="nav navbar-nav" id="sidenav1">'+items.join( "" )+'</ul>');
                $( "#navbar3" ).append('<ul class="nav navbar-nav" id="sidenav2">'+itemsMobile.join( "" )+'</ul>');
			    muda_tamanho();
        	}).fail(function() {
        	  //alert( "Erro ao carregar os departamentos!" );
        	})
        });
		
		//*********** menu de paginas internas *******/
        $("#cssmenu_pagina_interna").ready(function () {
        var jqxhr = $.getJSON( "json/paginas_internas.php", function() {}).done(function(data ) {
        		 var items = [];
        		 $.each( data, function(posicao,dado) {
        			items.push( "<ul class='nav'><li><a href='interna.php?cod=" + dado.cod + "' target='_self' >" + dado.nome + "</a></li></ul>" );
        		 });
        		 $( "#cssmenu_pagina_interna" ).append(items.join( "" ));
                 $( "#navbar4" ).append(items.join( "" ));
        	}).fail(function() {
        		//alert( "erro ao carregar categoria" );
        	});
        });
		
		
		//*********** ajustes nos botoes e campos *******/
        $('input[type="text"], input[type="submit"], input[type="password"], input[type="email"], .botao, input[type="number"], textarea, select').each(function() {
            var t = $(this);
            t.addClass('form-control');
            if(t.hasClass('bot_entrar') || t.hasClass('NewsBtnEnviar')) {
                t.addClass('btn btn-primary');
            }
        });





		//************** ajuste nas paginas do sistema ********/
        var d_i_f = $('.fretes-infosfinais .info-finais');

        $('#separa-total').remove();

        d_i_f.find('.main.label').css({
            'font-weight': 'bold',
            'font-size': '14px',
            'margin-bottom': '5px'
        }).removeClass('label'); //.addClass('col-md-12')

        if(document.URL.indexOf('login') != -1) {
            $('.login-panel').hide();
        }
        $('.titulo1').each(function() {
            if($(this).text().indexOf('Nao') != -1 || $(this).text().indexOf('existe um p') != -1) {
                $(this).addClass('alert alert-danger').css({
                    'color': '#a94442',
                    'padding': '30px 15px'
                });
            }    
        });
        $('.codKey .col-md-9').find('.col-md-3, .col-md-9').css({'width': '', 'padding': '0'});

        $('.caixaTextoBorda.tabelaDePedidos').find('table').attr({
            'cellpadding': '',
            'width': ''
        }).find('.tabela_adicionar td').css('border-top', '0')


        if($('.titulo1.alert.alert-danger').length) $('.titulo1.alert.alert-danger').html($('.titulo1.alert.alert-danger').html().replace('<br>',''));
        $('#id_bot_finalizar_pedido').click(function() {
            $('#id_aguardando').hide();
            if($('#id_aguardando').text().trim().length) {
                $('#id_aguardando').fadeIn();
            }
        })
        $('#id_fieldCod_Forma_Pagamento').change(function() {
            $('#id_aguardando').hide();
            if($('#id_aguardando').text().trim().length) {
                $('#id_aguardando').fadeIn();
            }
        })


        var el_cnt = $('#form_finalizar .table-responsive .Borda');
        var cnt = el_cnt.contents();
        el_cnt.replaceWith(cnt);


        $(window).scroll(function() {
            if ($(this).scrollTop()>200) {
                $('#top-link-block').removeClass('hidden').affix({
                    offset: {top:100}
                });
            }
        });
        $('#id_tabela_dados_pedido').find('hr').remove()
        $('.caixa_login form[name="login"] input').css('width', '100%')
        $('form[name="form_carrinho"] .Borda').find('table#id_tabela_carrinho').attr({
            'cellpadding': '',
            'width': ''
        });

        $('table[id^=id_dados_] tr').each(function() {
            var lbl = $(this).find('td:first-child').html();
            var inpt = $(this).find('td:last-child').html();
            $(this).html('<p>'+lbl+'<br>'+inpt+'</p>');
        });
        $('.left-two-coluns').removeClass('left-two-coluns').addClass('col-md-8 col-sm-12 col-xs-12');
        $('.right-two-coluns').removeClass('right-two-coluns').addClass('col-md-4 col-sm-12 col-xs-12 pull-right');

        $('.codPromocional .tit').removeClass('tit').addClass('othertit'); //classes iguais
        $('.engTitSubTit .tit').removeClass('tit').addClass('othertit');

        var lres = $('.resposta-login');
        var lresh = lres.html();
        if(lresh && lresh.trim().length) {
            lres.html('');
            $('.eng-login-cadastro').before('<div class="alert alert-danger">'+lresh+'</div>');
        }
        if(Mypagina.indexOf('cliente_informacoes') != -1) {

            var cadaBox = $('.meuPedidos-new .infoBoxContents .caixaTextoBorda');
            var iconPessoais = cadaBox.find('.tabela_adicionar i')[0].outerHTML;
            var iconContato = cadaBox.find('.tabela_adicionar i')[1].outerHTML;
            var iconEndereco = cadaBox.find('.tabela_adicionar i')[2].outerHTML;

            cadaBox.find('.tabela_adicionar').find('.titulo').remove();
            cadaBox.remove();

            $('.meuPedidos-new').first().after('<ul id="clientesInformacoes" class="nav nav-tabs nav-justified"><li class="active"><a data-toggle="tab" href="#pessoais">Detalhes Pessoais '+iconPessoais+'</a></li><li><a data-toggle="tab" href="#contato">Informações de Contato '+iconContato+'</a></li><li><a data-toggle="tab" href="#endereco">Seu Endereço '+iconEndereco+'</a></li></ul>');
            $('.nav-tabs').after('<div id="clientesInformacoesTabContent" class="tab-content"><div id="pessoais" class="tab-pane fade in active row"><div class="caixaTextoBorda"></div></div><div id="contato" class="tab-pane fade row"><div class="caixaTextoBorda"></div></div><div id="endereco" class="tab-pane fade row"><div class="caixaTextoBorda"></div></div></div>');

            $(cadaBox[0]).find('.tabela_adicionar').each(function(loop, el){

                $(this).addClass('col-md-12');
                $(el).find('.caixaTexto:first-child').addClass('col-md-2');
                $(el).find('.caixaTexto:last-child').addClass('col-md-10');

                if($(el).find('.caixaTexto').text().trim().length) {
                    if(loop <=6) {
                        $('.tab-content #pessoais .caixaTextoBorda').append(el);
                    }else{
                        $('.tab-content #contato .caixaTextoBorda').append(el);
                    }
                }
            });
            $(cadaBox[1]).find('.tabela_adicionar').each(function(loop, el){

                $(this).addClass('col-md-12');
                $(el).find('.caixaTexto:first-child').addClass('col-md-2');
                $(el).find('.caixaTexto:last-child').addClass('col-md-10');

                if($(el).find('.caixaTexto').text().trim().length) {
                    $('.tab-content #endereco .caixaTextoBorda').append(el);
                }
            });
        }
        $('.new-version .titulo1').addClass('page-header');
        $('.new-version .td_cliente').remove();

        $('.smallText.texts-topo-caixa-borda.left').addClass('alert alert-info').find('font').remove();
        var preenchiObri = $('.texts-topo-caixa-borda.right');
        $('#engloba-passos').after('<div class="camposObri">'+preenchiObri.html()+'</div>');
        preenchiObri.remove();


        $('.new-version div .caixaTexto:first-child').addClass('col-md-4').css('padding-right', '0');
        $('.new-version div .caixaTexto:last-child').addClass('col-md-8').css('padding-left', '0');

        $('#res-captcha').addClass('alert alert-danger');

        $('.link_caminho').first().before('<ol class="breadcrumb"></ol>');
        $('.link_caminho').each(function(loop, el) {
            var hT = $(this).html();
            hT = hT.replace('>', '');
            hT = hT.trim();

            var hRT = $(this).attr('href');
            var cRT = '';
            var eRT = 'a';
            if(hRT == undefined){
                hRT = 'javascript:void(0)';
                cRT = 'active';
                eRT = 'span';
            }

            if(hT != ''){
                $('ol.breadcrumb').append('<li id="caminholi'+loop+'" class="' + cRT + '"></li>');
                $('ol.breadcrumb li#caminholi'+loop).append('<'+eRT+' id="caminhoa'+loop+'" href="' + hRT + '"></'+eRT+'>');
                $('ol.breadcrumb li#caminholi'+loop+' '+eRT+'#caminhoa'+loop).append(hT);
            }
        })
        $('span.link_caminho,a.link_caminho').remove();

        $('.navbar-brand').ready(function(){
            var first_height = $('.navbar-brand').height() + 30; // + 15 referente ao padding
            first_height = (first_height - 44) /2;

            // $('.navbar-default .nav.navbar-nav, [data-target^="#navbar"]').css({'margin-top':first_height+'px','margin-bottom':first_height+'px'})
        });
        function GetIEVersion() {
            var sAgent=window.navigator.userAgent,Idx=sAgent.indexOf("MSIE");
            if (Idx>0) { 
                return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));
            } else if (!!navigator.userAgent.match(/Trident\/7\./)) {
                return 11;
            } else {
                return 0;
            }
        }
        if(GetIEVersion()>0) {//ajuste para ie
            $('.vertical-align>[class^="col-"],.vertical-align>[class*="col-"]').css('display','block');
            $('#top-link-block').css('right','30px');
        }
		
		//*********** botao resumo do produto (vitrine) *****/
        $('#modal-produto').on('shown.bs.modal', function (e) {
            var el = $(e.target).find('#titulo-prdt')[0],
            btn_cmp = $('#comprar-prdt'),
            btn_cot = $('#soli-cot'),
            btn_ind = $('#modal-produto #img-indisponivel');

            if($(el).text().trim().indexOf('Sob consulta!')!=-1) {
                btn_cot.show();
                btn_cmp.hide();
                btn_ind.hide();
            } else if($('a.bot_resumo-new').data('indisponivel')) {
                btn_ind.show();
                btn_cmp.hide();
                btn_cot.hide();
            }else {
                btn_cmp.show();
                btn_cot.hide();
                btn_ind.hide();
            }
        });

		//********** verifica conteudo nas abas direita e esquerda e ajusta os tamanhos *******/
        var elRight = $('#id_div_direita');
        var elCenter = $('#id_td_central');

        if(($('#id_banner_Lateral_Direita').length>0 && $('#id_banner_Lateral_Direita').html().trim().length ) || ($('#contentDireitaCol').length && $('#contentDireitaCol').html().trim().length)) {
            // Existe algum conteudo na coluna da direita
            elCenter.removeClass('col-md-9').addClass('col-md-7');
            elRight.show();
        }else{
            // Nao existe algum conteudo na coluna da direita
            elCenter.removeClass('col-md-7').addClass('col-md-9');
            elRight.hide();
        }

       
        if($('.class_msg_finalizacao').length) {
            $('.class_msg_finalizacao').addClass('alert alert-success').find('br').remove();
        }
   
   
		//icones do atendimento online
		if('[fone]' ==''){
			$('.telefone_loja').hide();
		}
		if('[cod_atendimento_online]' !=''){    
        	var jqxhr = $.getJSON( "json/atendimento_htalk.php?id=[cod_atendimento_online]", function() {})
			.done(function(data ) {
				if(data.status==1){
				  	$('.barra1_chat').addClass('online');
				}else{
					$('.barra1_chat').removeClass('online');
				}
			}).fail(function() {
        		console.log('Erro ao carregar json.');  
			});
			
		}else{
			$('.class_atendimento_online').hide();
		}
		   
    });
</script>
<!--------------- FIM RODAPE --------------->       